@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header {
  height: 15vh;
  background-color: #ff69b4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.BoxLogo {
  // border: solid 2px red;
  width: 25vw;
  display: flex;
  align-items: center;
  color: white;
  h1 {
    font-size: 1.7vw;
    font-weight: 400;
  }
}

nav {
  // border: solid 2px yellow;
  width: 40vw;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
  }
}

.sessaoSobre {
  height: 60vh;
  //   border: solid 2px red;
  background-color: #ffd9ec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  p {
    border: solid 2px;
    width: 40vw;
    font-size: 1.5vw;
  }
  img {
    width: 25vw;
  }
}
.sectionConscientizacao {
  height: 60vh;
  background-color: $cor-primaria;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  p {
    width: 38vw;
    font-size: 1.5vw;
    color: $cor-do-texto;
  }
  img {
    width: 40vw;
  }
}

.sectionDicas {
  height: 60vh;
  background-color: $cor-secundaria;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer {
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cor-primaria;
  padding: 0 50px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    margin-right: 27px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  .navImg {
    width: 5vw;
  }
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  color: $cor-do-texto;
  text-align: justify;
}
.footerImg {
  max-width: 100px;
}
